.navbar {
    max-width: 100vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #FE5007; */
    z-index: 1000; /* Ensure it stays on top of other elements */
    color: rgb(59, 59, 59);
    font-size: large;
    backdrop-filter: blur(10px);
    /* filter: blur(4px); */
    /* background-color: #FE5007; */
}


.navbar .logo {
    max-width: 120px;
}
.left{
    width: 20vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.right{
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;

}

 .middle {
   width: 60vw;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;

 }
 /* .navbar-components {
    display: flex;
    list-style: none;
    gap: 40px;
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 0;
} */
 .middle ul{
    display: flex;
 }

.navbar li {
    cursor: pointer;
    padding: 11px 25px;
    border: 1px solid transparent; 
    box-sizing: border-box;
    transition: none;
    margin-right: 10px;
}

.navbar li.active {
    background-color: #FE5007;
    border-radius: 25px; 
    border-color: #e9e9e9e5; 
    color: white;
    
    
}

.navbar li:hover {
    background-color: #e9e9e9e5;
    color: black;
    border-radius: 25px; 
    border-color: #d8591ee5; 
    transition: background-color 0.6s ease, box-shadow 0.6s ease, color 0.6s ease; 
    
}

.button {
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    background-color: #FE5007;
    /* border: 1px solid black; */
    border-radius: 25px;
    cursor: pointer;
    padding: 11px 25px;
    transition: background-color 0.4s ease;
    color: white;
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
}

.mobileMenu{
    width: 60vw;
    height: 100vh;
    z-index: 22;
    position: absolute;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px ;
    transition: transform 0.5s ease, opacity 0.5s ease; 
    transform: translateX(0); 
    opacity: 1;
    border-right: 1px solid gray;
    background-color: #df5f28;
    position: fixed;
    color: rgb(0, 0, 0);
}
.mobilemenuHide{
    transform: translateX(-100%); 
    opacity: 0; 
}
.mobileMenu ul li{
  margin-top: 20px;
  font-size: large;
  padding: 5px 5px;
  border-bottom: 1px solid gray;

}
.mobileMenu ul a{
  color: white;

}
.mobileMenu ul{
    color: rgb(235, 227, 227);
    width: 80%;
    margin: auto;
    margin-top: 40px;

}
.cart_icon{
    cursor: pointer;
}

@media screen and (max-width: 768px) {    
    .navbar .left{
        width: 40vw;
    }
    .navbar .right{
        width: 40vw;
    }
    .middle{
        display: none;
    }
    .nav-icon{
        margin-left: 30px;
    }
    .logo{
        margin-left: 30px;
    }
  
}
@media screen and (min-width: 768px) {   
    .nav-icon{
        display: none;
    } 
    .mobileMenu{
        display: none;
    }
   
}